.header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  background-color: transparent;
}

.appIcon {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: main.$color-lightBlue-500;
}

.rightWrapper {
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
}
