@use "./color.scss";
@use "./font.scss";
@forward "./color.scss";
@forward "./font.scss";

* {
  padding: 0;
  margin: 0;

  box-sizing: border-box;
  background-color: color.$color-lightBlue-000;

  font-family: "Public Sans", sans-serif;
  font-weight: 00;
}

// 태블릿 (768px 이상)
@media (min-width: 768px) {
  body {
    font-size: 16px;
    max-width: 720px;
  }
}

// 데스크탑 (1024px 이상)
@media (min-width: 1024px) {
  body {
    font-size: 18px;
    max-width: 1200px;
  }
}
