@use "./color.scss";
@use "./font.scss";
@forward "./color.scss";
@forward "./font.scss";
@use "./mixin.scss";

* {
  padding: 0;
  margin: 0;

  box-sizing: border-box;
  background-color: color.$color-white-000;

  font-family: "Public Sans", sans-serif;
  font-weight: 00;

  @include mixin.mobile {
    background: color.$color-white-000;
  }

  @include mixin.tablet {
    background: color.$color-white-000;
  }

  @include mixin.desktop {
    background: color.$color-white-000;
  }
}
